.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customButton {
  background-color: green;
  color: white;
  font-size: 16px;
  /* Add other button styles as needed */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  background-color: #8ca1c1;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 10px; /* Correct syntax for numeric value without quotes */
}

.button:hover {
  background-color: #45a049;
}


.buttonreset {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  background-color: #cc4e70;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.buttonreset:hover {
  background-color: #cd1137;
}
