.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* Target the table itself */
.user-info-table {
  border-collapse: collapse; /* Remove borders between cells */
  width: 100%; /* Set table to full width */
}

/* Style the table header (<th>) */
.user-info-table th {
  text-align: center; /* Align text to the left */
  padding: 10px; /* Add padding to header cells */
  background-color: #e9c0c0; /* Set background color for headers */
  border: 0; /* Set border width to 0 to hide */
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Style the table body (<td>) */
.user-info-table td {
  padding: 5px; /* Add padding to data cells */
  border: 0; /* Set border width to 0 to hide */
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /* Optional: to maintain aspect ratio */
}

.user_name{
  font-family:Arial, Helvetica, sans-serif;
}
